@import "../../../defaulttheme/sass/styles/container/bordered.scss";
@import "../../../defaulttheme/sass/styles/container/title-row-box.scss";
@import "./styles/container/background.scss";
@import "../../../defaulttheme/sass/abstracts/mixins";
@import "../../../defaulttheme/sass/abstracts/vars";
.container {
    padding: 0;
	.component-content {
        @include clearfix();
    }
    &.indent-top {
        margin-top: 40px;
    }
    &.indent-bottom {
        margin-bottom: 40px;
    }
    &.disable-equalized-content {
        > .component-content > .row {
            align-items: flex-start;
            display: flex;
        }
    }
}
