@import "../../../defaulttheme/sass/abstracts/vars";
@import "../../../defaulttheme/sass/abstracts/mixins";
.content, .rich-text {
    background: $rich-content-bg;
    color: $text-basic;
    border: $rich-content-border;
    line-height: 1.5;
    font-size: 16px;
    overflow: hidden;
    * {
        max-width: 100%;
    }
    @import "../../../defaulttheme/sass/base/richtext/_richtext-files-icons.scss";
    @import "../../../defaulttheme/sass/base/richtext/_richtext.scss";
}
.rich-text  {
    @import "../../../defaulttheme/sass/variants/rich-text/default.scss";
}
.content {
    @import "../../../defaulttheme/sass/variants/page-content/default.scss";
}
@import "../../../defaulttheme/sass/styles/rich-text/rich-text-lists.scss";
@import "./styles/rich-text/features-options.scss";
